body{
    font-family: Arial;
    background:#f5f5f5;
    margin:0;
}

/* HEADER */

header{
    background-color: rgba(218, 137, 32, 0.705);
    color:white;
    text-align:center;
    padding:10px;
}

header img{
    width:1320px;
    height:220px;
   
    margin-bottom:10px;
}
/* PRODUCT CONTAINER */

.container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    padding:20px;
    justify-items:center;
}

/* PRODUCT CARD */

.card{
    background:white;
    width:220px;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

/* PRODUCT IMAGE */

.card img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

/* BUTTONS */

button{
    background:orange;
    border:none;
    padding:10px;
    margin:5px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:darkorange;
}@media(max-width:1000px){

   .container{
      grid-template-columns:1fr;
   }

}
.quantity{
   display:flex;
   justify-content:center;
   align-items:center;
   gap:10px;
   margin:10px;
}

.quantity button{
   width:35px;
   height:35px;
   font-size:20px;
}

.cart-icon{
   margin-top:10px;
   font-size:20px;
}
footer{
   background:#222;
   color:white;
   text-align:center;
   padding:30px;
   margin-top:40px;
}

footer iframe{
   margin-top:15px;
   border-radius:10px;
}
.bottom-nav{
   position:fixed;
   bottom:0;
   width:100%;
   background:green;
   display:flex;
   justify-content:space-around;
   padding:15px;
}

.bottom-nav a{
   color:white;
   text-decoration:none;
   font-size:18px;
}
.page{
   display:none;
   padding:20px;
}

#home-page{
   display:block;
}

.bottom-nav{
   position:fixed;
   bottom:0;
   width:100%;
   background:green;
   display:flex;
   justify-content:space-around;
   padding:15px;
}

.bottom-nav button{
   background:none;
   border:none;
   color:white;
   font-size:18px;
   cursor:pointer;
}
.popup{
   display:none;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0,0,0,0.7);
   justify-content:center;
   align-items:center;
}

.popup-content{
   background:white;
   padding:20px;
   border-radius:10px;
   text-align:center;
}

.popup-content img{
   margin:15px 0;
}
#cart-page,
#location-page,
#help-page{
   display:none;
}
.page{
   display:none;
   padding:20px;
   text-align:center;
}

.bottom-nav{
   position:fixed;
   bottom:10px;
   left:50%;
   transform:translateX(-50%);

   width:90%;

   background:green;

   display:flex;
   justify-content:space-around;
   align-items:center;

   padding:10px;

   border-radius:20px;

   box-shadow:0 0 10px gray;
}
.bottom-nav button{

   background:none;

   border:none;

   color:white;

   font-size:16px;

   cursor:pointer;

   padding:5px 10px;
}

#home-page{
   display:block;
}

#cart-page,
#location-page,
#help-page{
   display:none;
}
body{
   padding-bottom:100px;
}
.page{
   padding:20px;
   margin-bottom:100px;
   text-align:center;
}
.popup{
   display:none;

   position:fixed;

   top:0;
   left:0;

   width:100%;
   height:100%;

   background:rgba(0,0,0,0.7);

   justify-content:center;
   align-items:center;

   z-index:1000;
}

.popup-content{

   background:white;

   padding:25px;

   border-radius:15px;

   text-align:center;

   width:300px;
}
#cart-items{
   list-style:none;
   padding:0;
}

#cart-items li{
   background:#f5f5f5;
   margin:10px;
   padding:10px;
   border-radius:10px;
}
